@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primary: #FFFFFF;
    --color-secundary: #00030C;
    --color-terciaria: #167BF7;
    --color-quarter: #C0C0C0;
    --color-five: #F9F9F9;

    --font-primary: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-secundary);
    height: 100vh;
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-weight: 400;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    gap: 22px;
    padding: 9% 53% 3% 5%;
    background-image: url(../assets/Background@2x.png);
    width: 100%;
} 

.apresentacao--titulo{
    font-size: 1.75rem; 
    font-weight: 700;
}

.apresentacao--logo{
    width: 62%;
    padding-bottom: 4%;
}

.apresentacao--botoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    width: 80%;
    font-size: 1rem;
}

.apresentacao__botoes--botao { 
    padding: 16px 20%;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-primary);
}

#apresentacao__botoes--primeiro-botao {
    background-color: var(--color-terciaria);
    border: none;
}

#apresentacao__botoes--segundo-botao {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.apresentacao--descricao {
    color: var(--color-quarter);
    font-size: 0.75rem;
}

.container {
    display: flex;
    align-items: center;
}

.exemplificacao {
    padding: 10%;
    gap: 80px;
}

.imagem {
    width: 50%;
}

.container__descricao {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.exemplificacao--exemplo {
    gap: 8px;
}

.titulo {
    font-weight: 700;
    font-size: 3rem;
}

.exemplificacao__exemplo--paragrafo {
    color: var(--color-five);
    font-size: 1rem;
}

.combo {
    padding: 5% 10% 10% 5%;
    gap: 30px;
}

.combo--descricao {
    gap: 19px;
    padding: 2%;
}

.combo__descricao--paragrafo {
    color: var(--color-five);
    font-size: 1rem;
}

.combo__descricao--botao {
    width: 40%;
    padding: 3% 0;
    background-color: var(--color-terciaria);
    border-radius: 8px;
    border: none;
    text-align: center;
    color: var(--color-primary);
    text-decoration: none;
}

.cursos {
    gap: 20px;
    padding: 5% 13% 20% 10%;
}

.cursos--info {
    gap: 10px;
    width: 50%;
}

.cursos__info--paragrafo {
    font-size: 1rem;
    color: var(--color-five);
}

.disponibilidade {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.disponibilidade--aparelhos {
    display: flex;
    justify-content: space-around;
    padding: 0 10% 10%;
}

.disponibilidade__aparelhos--app {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.disponibilidade__aparelhos__app--img {
    width: 100%;
}
.disponibilidade__aparelhos__app--subtitulo {
    font-size: 2rem;
    font-weight: 700;
}

.rodape {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 5% 5%;
}

.rodape--logo {
    width: 10%;
}

.rodape--navegacao {
    display: flex;
    gap: 15px;
}

.rodape__navegacao--link {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1rem;
}

.rodape--paragrafo {
    color: var(--color-quarter);
    font-size: 0,875rem;
}