@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@300;400;500;700&display=swap');
@import url("header.css");
@import url("banner.css");
@import url("carrosel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: 
    "Poppins", sans-serif;
    --azul: #002F52;
    --preto: #000000;
    --borda-footer: #858585;
    --cor-fundo-footer: #F9F9F9;
    --font-secundaria: "Josefin Sans", sans-serif;
    --cinza: #474646;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
}


